@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Permanent Marker", serif;
}

html {
  min-height: 100%;
}
body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(219, 190, 235);
  font-family: "Rubik", Georgia, serif;
}
body {
  height: 100%;
  background-color: #e3dcc2;
}

nav,
footer {
  background-color: #4b1974;
}

footer {
  padding: 10px;
  margin-top: auto;
}
nav {
  background-color: #7d8ca3;
}

.navbar > .navbar-item,
.navbar .navbar .navbar-link {
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

#profile {
  max-height: 45vh;
  border-radius: 50px;
  border: 5px solid black;
  padding: 10px;
}

#resumeIcon {
  max-height: 20vw;
  border-radius: 50px;
  border: 5px solid black;
}

ul {
  width: 28rem;
}

.pic-border {
  border-radius: 20px;
  border: 3px solid black;
}

.proj-pic {
  max-height: 35vh;
  max-width: 45vw;
  border: 3px solid black;
}

#about {
  max-width: 60vw;
}
